@font-face {
  font-family: "ALS Sirius";
  src: url("./fonts/ALS_Sirius_Regular_0.95.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ALS Sirius";
  src: url("./fonts/ALS_Sirius_Bold_0.95.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("opentype");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans.ttf") format("opentype");
}

@font-face {
  font-family: 'Open Sans Variable';
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}