@font-face {
  font-family: "ALS Sirius";
  src: url("./fonts/ALS_Sirius_Regular_0.95.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ALS Sirius";
  src: url("./fonts/ALS_Sirius_Bold_0.95.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'Inter Variable';
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Inter-Variable.woff2') format('woff2')
}

@font-face {
  font-family: 'Open Sans Variable';
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
  src: url('../../../../test_infotex/Infotecs/src/app/fonts/OpenSans-Variable.woff2') format('woff2');
}