.body {
  display: flex;
  gap: 6px;
  padding: 4px 10px 4px 4px;
  border-radius: 49px;
  width: fit-content;
  align-items: center;

}

.body p {
  font: var(--ALS-10-700);
  color: white;
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}