.body {
  display: flex;
  gap: 12px;
  width: 139px;
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  color: black !important;
  font-family: "Inter";
  font-size: 13px;
  list-style: none;
}

.body li:not(.dotted) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.dotted {
  min-width: 11px;
  height: 9px;
}

.selected {
  background-color: #d9d9d9;
  
}