.modalBody {
  position: absolute;

  top: calc(100% + 6px);
  left: 0;
  background-color: white;
  border: 1px solid var(--color-gray-100);
  border-radius: 16px;

  box-shadow: var(--drop-down);
  padding: 19px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  justify-content: space-between;

  width: 100%;
  z-index: 3;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;

  gap: 12px;

}

.skill {
  font: var(--OS-14-500);
  color: var(--color-brand-black);
  border: 1px solid var(--color-gray-650);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.closeButton {
  font: var(--label-interface);
  color: var(--color-gray-500);

  cursor: pointer;
}