.body {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 48px;
  font: var(--label-interface);
  color: white;
}

.body svg {
  fill: white;
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 100%;
  padding: 5px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.catalog, .research  {
  font-size: 13px;
  z-index: 1;
}

.mySpace {
  font-size: 15px;
  z-index: 1;
}

.active {
  color: var(--color-brand-green)
}

.selector {
  position: absolute;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  transition: left 0.25s ease, width 0.25s ease;
  pointer-events: none;
  z-index: 0;
}

.active svg {
  fill: rgb(var(--green));
  transition: fill 0.3s;
}
