.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerLabel {
  font: var(--inter-12-300);
  color: var(--color-gray-400)
}

.buttonContainer {
  display: flex;
  gap: 24px;
  padding-bottom: 16px;
  align-items: center;
}

.buttonContainer button {
  font: var(--inter-13-600);
}

.cancelButton {
  color: var(--color-gray-500)
}

.saveButton {
  padding: 14px 24px 15px 24px;
  border-radius: 50px;
  background-color: var(--color-brand-green);
  color: white;
}

.saveButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: var(--color-red);
}

.success {
  color: var(--color-brand-green);
}