.projectMain {
  width: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--grad-blue);
  padding: 8px 8px 24px 24px;
  border-radius: 20px;
  gap: 32px;
  margin: 0 16px;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 10px;
  width: 427px;
}

.tag {
  display: inline-block;
  border-radius: 20px;
  font: var(--description-platform);
  padding: 7px 12px 8px 12px;
  background-color: #fff;
  color: var(--color-gray-900);
  white-space: nowrap;
  z-index: 2;
}

.topLabel {
  display: flex;
  justify-content: space-between;
}

.format {
  padding-top: 8px;
  padding-right: 8px;
}

.orgAvatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-gray-50);
}

.orgBlock {
  display: flex;
  gap: 8px;
}

.orgInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.orgName {
  font: var(--body-text-platform);
  font-weight: 600;
  font-size: 16px;
}

.orgSub {
  font: var(--body-small-platform);
}

.description {
  font: var(--body-text-platform);
  padding-right: 54px;
}