VITE_TPU_OAUTH_CLIENT_ID=xx-xxx-xxx-xxxxxxxx

VITE_REF_POST_LOGIN=/auth/login
VITE_REF_GET_AUTH_STATUS=/auth/status
VITE_REF_POST_RELOGIN=/auth/refresh
VITE_REF_POST_LOGOUT=/auth/logout

VITE_REF_GET_ME_DATA=/users/me
VITE_REF_GET_USERS=/users

VITE_REF_ROLES=/roles

VITE_REF_GET_PROJECTS=/projects

VITE_REF_GET_TAGS=/tags
VITE_REF_GET_ROLE_TYPES=/role-types

VITE_API_PARTNERS_URL=/partners
VITE_API_PROJECT_ROLES_URL=/role-types

VITE_API_BASE_URL=https://project.tpu.ru/dev/api
VITE_OAUTH_AUTHORIZE_URL=https://oauth.tpu.ru/authorize