.status {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 12px;
  border-radius: 12px;
  gap: 6px;
  font: var(--inter-11-600);
  color: var(--color-brand-green);
}

.green {
  color: var(--color-brand-green);
}

.red {
  color: var(--color-red);
}

.inactive {
  color: var(--color-red);
}

@media (max-width: 768px) {
  .status {
    padding: 8px 10px;
    border-radius: 8px;
  }
}