.base {
  display: flex;
  height: fit-content;
  align-items: center;
  font: var(--OS-14-400);
  padding: 5.5px 10px 5.5px 6px;
  gap: 5px;
  border: 1px solid var(--color-gray-350);
  border-radius: 6px;
  color: var(--color-gray-750);
  background-color: white;
}


.case {

}

.pathFolder {
  fill: var(--color-gray-750)
}

.real {
  background: var(--color-brand-black);
  border-color: var(--color-brand-black);
  color: white
}

.study {
  border-color: var(--color-brand-green);
}

.pathCode {
  fill: white;
}

.paid {
  border: 1px solid;
  background-image:
    linear-gradient(var(--color-gray-50), var(--color-gray-50)),
    var(--grad-brand);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  background: var(--grad-lime);
  color: white
}

.pathStar {
  fill: white;
}
