.cardBody {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--accent, white);
  overflow: hidden;
  box-shadow: var(--card-drop-shadow);
  width: 100%;

  padding: 8px 86px 8px 8px;
  cursor: pointer;

  grid-column: span 2;
  aspect-ratio: auto;
}

.like {
  position: absolute;
  top: 21px;
  right: 98px;
  z-index: 3;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;

  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;

}

.cardBody:hover .like,
.like.liked {
  opacity: 1;
  pointer-events: auto;
}

.pattern {
  position: absolute;
  width: 100px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.accentBody {
  border-radius: 12px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 16px 16px 24px 16px;
  border-bottom: 1px solid #fff;

  position: relative;
  overflow: hidden;
}

.directionTag {
  display: inline-block;
  border-radius: 20px;
  font: var(--description-platform);
  padding: 7px 12px 8px 12px;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  white-space: nowrap;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-end;

}

.tag {
  padding: 4px 8px;
  font-size: 10px;
  color: rgba(43, 43, 59, 0.85);
  background-color: var(--color-gray-50);
  padding: 6px 10px 7px 10px;
  white-space: nowrap;
  border-radius: 24px;
}

.tagCount {
  font: 400 10px/1.2 var(--font-ALS);
  color: rgba(43, 43, 59, 0.85);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 14px 8px 14px;
  flex: 1;
}

.metaContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.titleAndOrg {
  display: flex;
  justify-content: space-between;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.format {
  display: inline-block;
  border: 1px solid var(--color-brand-green);
  border-radius: 6px;
  padding: 2px 8px;
  font-size: 11px;
  color: var(--color-gray-750);
}

.case {
  display: flex;
  height: fit-content;
  align-items: center;
  font: var(--body-small-platform);
  color: var(--color-gray-750);
  gap: 5px;
  padding: 3px 10px 3px 6px;
  border: 1px solid var(--color-gray-350);
  border-radius: 6px;
}

.pathFolder {
  fill: var(--color-gray-750)
}

.real {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 3px 10px 3px 6px;
  gap: 5px;
  border-radius: 6px;
  font: var(--body-small-platform);

  background: var(--color-brand-black);
  color: white
}

.pathCode {
  fill: white;
}

.paid {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 3px 10px 3px 6px;
  gap: 5px;
  border-radius: 6px;
  font: var(--body-small-platform);

  background: var(--grad-line);
  color: white
}

.pathStar {
  fill: white;
}

.id {
  font: var(--label-interface);
  font-weight: 400;
  color: var(--color-gray-600);
}

.title {
  font: var(--card-title-platform);
  color: var(--color-gray-900);
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  font-size: 11px;
  color: var(--color-gray-500);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.competenciesLabel {
  font: var(--body-small-platform);
  color: var(--color-gray-600);
}

.competenciesBlock {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.competenciesLabel {
  font: var(--body-small-platform);
  color: var(--color-gray-600);
}

.competenciesWrapper {
  position: relative;
}

.competenciesWrapper::before,
.competenciesWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  pointer-events: none;
  z-index: 1;
}

.competenciesWrapper::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.competenciesWrapper::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.competencies {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 0 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.competency {
  border-radius: 6px;
  padding: 2px 7px 3px 7px;
  height: fit-content;
  border: 1px solid var(--color-gray-200);
  font-size: 10px;
  font-weight: 700;
  color: var(--color-gray-500);
  white-space: nowrap;
  flex-shrink: 0;
}

.org {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.orgAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-brand-green);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  aspect-ratio: 1/1;
}

.orgInfo {
  display: flex;
  flex-direction: column;
}

.orgName {
  font: var(--info-descripte-platform);
  font-weight: 600;
  color: var(--color-gray-900);
}

.orgSub {
  font-size: var(--description-platform);
  color: var(--color-gray-900);
}

.team {
  font-size: 10px;
  color: var(--color-gray-500);
}

.extended {
  grid-column: span 2;
  aspect-ratio: auto;
  min-height: 260px;
}