.mainContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 48px 168px 132px 1fr;
  padding: 26px calc(180px + 16px);
  /* padding: 0 calc(180px + 16px); */
  /* margin-top: 26px; */

  background-color: white;

  overflow: auto;
  overflow-y: hidden;
}

.headerLeft {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 16px 0 16px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.backIcon {
  fill: '#93959B'
}

.back {
  height: 100%;
  align-content: center;
  font: var(--step-title-platform);
  color: var(--color-gray-400)
}

.title {
  font: var(--hero-title-platform);
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  padding: 0 16px;

  display: flex;
  overflow: hidden;
  position: relative;
  align-items: start;
}

.title h2 {
  font: var(--hero-title-platform);
  color: var(--color-brand-black);
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 32px;
  width: 100%;
}




@media (max-width: 1600px) {
  .mainContent {
    padding: 26px 20px;
    /* padding: 0 20px; */
  }
}


@media (max-width: 1280px) {
  .mainContent {
    padding: 26px 20px;
    /* padding: 0 20px; */
  }
}
