.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font: var(--field-label-interface);
  color: var(--color-brand-black);
}

.deleteButton {
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--inter-12-300);
  color: var(--color-red)
}

.input {
  display: flex;
  padding: 18px;
  font: var(--body-text-platform);
  border: 1px solid var(--color-gray-250);
  border-radius: 16px;
  color: var(--color-brand-black);
}

.buttonContainer {
  display: flex;
  gap: 24px;
}

.buttonContainer button:nth-child(1) {
  font: var(--inter-13-600);
  color: var(--color-gray-500)
}

.buttonContainer button:nth-child(2) {
  font: var(--inter-13-600);
  color: white;
  padding: 14px 24px 15px 24px;
  background-color: var(--color-brand-green);
  border-radius: 50px;
}

.disable {
  pointer-events: none;
  opacity: 0.25;
}