.magicToggle {
  position: relative;
  cursor: pointer;
  align-content: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.toggleTrack {
  width: 20px;
  height: 11px;
  background-color: var(--color-gray-200);
  border-radius: 5px;
  position: relative;
  transition: background-color 0.4s ease;
}

.toggleThumb {
  position: absolute;
  width: 14px;
  height: 14px;
  top: -2px;
  left: -2px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1), background-color 0.4s ease;
}

/* .sparkles {
  position: absolute;
  top: -10px;
  left: 5px;
  color: #c5cadd;
  transition: color 0.4s ease, filter 0.4s ease;
  pointer-events: none;
} */


.checked .toggleTrack {
  background-color: #858b98;
}

.checked .toggleThumb {
  transform: translateX(12px);
  background-color: var(--color-brand-black);
}

/* .checked .sparkles {
  color: var(--color-brand-green);
  filter: drop-shadow(0 0 6px rgba(57, 255, 20, 0.6));
} */