.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay.open {
  pointer-events: auto;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: transparent;
}

.sheet {
  position: relative;
  width: 100%;
  background-color: var(--color-brand-violet);
  will-change: transform;
  padding: 11px 20px 32px;
  border-radius: 20px 20px 0 0;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.dragHandle {
  width: 95px;
  height: 5px;
  background-color: #cbd5e1;
  border-radius: 4px;
}