.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 16px
}

.cancel {
  font: var(--inter-13-600);
  color: var(--color-gray-500);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--inter-13-600);
  color: var(--color-brand-green);
  border-radius: 50px;
  border: 1px solid var(--color-brand-green);
  padding: 14px 24px 15px 24px;
  cursor: pointer;

  &:hover:not(:disabled) {
    opacity: 0.25;
  }

  &:disabled {
    color: var(--color-gray-400);
    border-color: var(--color-gray-250);
    cursor: not-allowed;
  }
}