.mainFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &::-webkit-scrollbar{
    width: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 6px
}

.mainInfo h3 {
  font: var(--section-title-interface);
  color: var(--color-brand-black)
}

.mainInfo p {
  font: var(--subhead-interface);
  color: var(--color-gray-600)
}

.title {
  font: var(--field-label-interface);
  color: var(--color-brand-black);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px
}