.freeCompetencies {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 8px 12px 8px;
  width: 100%;

  background-color: var(--color-brand-violet);
  border-radius: 20px;

  gap: 16px
}

.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 8px;
}

.title {
  font: var(--meta-title-interface);
  color: white;
}

.description {
  font: var(--body-small-platform);
  color: var(--color-gray-600)
}

.competenciesList {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.competency {
  display: flex;
  position: relative;
  padding: 12px 12px;
  background-color: white;

  border-radius: 12px;
  justify-content: space-between;
  gap: 8px;

  cursor: pointer;

  border: 1px solid white;

  height: fit-content;
  min-height: 58px;
}

.leftHalfRole {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role {
  font: var(--widget-title-platform);
  color: var(--color-brand-black);
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.skill {
  position: relative;
  padding: 4px 10px 5px 10px;
  border-radius: 6px;

  font: var(--description-platform);
  color: var(--color-gray-600);
  background-color: var(--color-gray-100);
}

.starIcon {
  position: absolute;
  top: -4px;
  right: -4px;
}

.response {
  display: flex;
  top: 12px;
  right: 12px;
  align-items: flex-end;
  gap: 2px;
  flex-shrink: 0;
}

.countRes {
  display: flex;
  font: var(--label-interface);
  font-size: 10px;
  inline-size: auto;
  color: var(--color-gray-600);
  align-content: center;
}

.selected {
  background-color: var(--color-brand-green);
}

.dimmed {
  opacity: 0.45;
}

.selected .role {
  color: white;
}

.selected .withoutSkills {
  color: white;
}

.selected .plusButton {
  background-color: white;
}

.selected .countRes {
  color: white;
}

.countFree {
  font: var(--label-interface);
  font-weight: 500;
  font-size: 14px;
  color: white;
  opacity: 0.85;
}

.footer {
  display: flex;
  padding: 0 12px 0 4px;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 14px 28px 15px 28px;
  border: 1px solid white;
  font: var(--inter-13-600);
  color: var(--color-brand-green);
  background-color: white;
  font-weight: 500;
  border-radius: 59px;

  transition: 0.2s;
}

.button:disabled {
  opacity: 0.55;
  cursor: not-allowed;
  color: var(--color-gray-350);
}

.activeButton {
  background-color: transparent;
  color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
}

.questionIcon {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.questionIconPath {
  fill: var(--color-gray-350)
}

.plusButton {
  bottom: 9px;
  right: 9px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-brand-black);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  flex-shrink: 0;
}

.plusIcon {
  color: white;
}

.countFree {
  font: var(--subhead-interface);
  color: var(--color-gray-150)
}

.checkIcon {
  color: var(--color-brand-green);
  width: 9px;
  height: 9px;
}

.feedbackIcon {
  width: 8px;
  height: 11px;
}

.withoutSkills {
  font: var(--description-platform);
  color: var(--color-gray-750)
}

.competencyHeader {
  display: flex;
  gap: 4px;
  align-items: end;
}

.competency:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.competency:hover:not(.selected):not(.dimmed) {
  border-color: var(--color-brand-black);
}

.tooltip {
  opacity: 0;
  width: 12px;
  height: 13px;
}

.tooltipIcon {
  color: var(--color-gray-500);
}

.selected .tooltipIcon {
  color: var(--color-gray-100);
}

@media (max-width: 768px) {
  .title {
    font: var(--field-title-big-interface)
  }

  .freeCompetencies {
    padding: 0;
  }

  .competency:hover:not(.selected):not(.dimmed) {
    border-color: white;
  }

  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 16px
  }
}