.mainContainer {
  width: 100%;
  padding: calc(4px + 8px) 16px 0 16px;
  display: flex;
  gap: 12px;
  height: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: var(--card-drop-shadow);
  width: 100%;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.count {
  font-family: var(--font-open-sans), serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-gray-600);
}

.label {
  font-family: var(--font-inter), serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-gray-650);
}

.snippet {
  font-family: var(--font-open-sans), serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-gray-350);
}

.feedbackIcon {
  width: 18px;
  height: 18px;
  color: var(--color-gray-600)
}

.folderIcon {
  width: 18px;
  height: 18px;
  color: var(--color-gray-600)
}

.likeIcon {
  width: 18px;
  height: 18px;
  color: var(--color-gray-600)
}