.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:active {
  transform: scale(0.9);
}

.likeIcon {
  overflow: visible;
  width: 21px;
  height: 21px;
}

.likeIcon path{
  fill: white;
  stroke: var(--color-gray-750);
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.likeIcon.liked path{
  fill: var(--color-red);
  stroke: white;
}