.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;

  background-color: white;

  & > *:not(:first-child) {
    flex: 1;
    min-height: 0;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
}