.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-brand-black);
}


.wrap {
  position: relative;
  display: flex;
  height: 80px;
  min-height: 80px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 180px;
  align-items: center;
  width: 100%;
  background-color: var(--color-brand-black);
  max-width: calc(1560px + 180px*2);
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .wrap {
    padding: 0 24px;
  }
}