.wrap {
  position: relative;
  display: flex;
  height: 80px;
  min-height: 80px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  width: 100%;
  background-color: var(--color-brand-black);
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
