.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  gap: 12px;
  width: 100%;
  min-width: 0;
  max-height: 100%;
  padding: 16px;
  overflow: auto;
  align-content: start;
}

@media (max-width: 1200px) {
  .body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .body {
    grid-template-columns: 1fr;
  }
}