.body {
  display: flex;
  width: auto;
  box-sizing: border-box;
  padding: 16px 18px 18px 18px;
  align-items: center;
  border: 1px solid var(--color-gray-350);
  border-radius: 14px;
  gap: 12px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.input {
  background-color: transparent;
  border: none;
  width: 100%;
  font: var(--step-title-platform);
  color: var(--color-gray-600);

  &:focus {
    outline: none;
  }
}