.container {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 162px;
  height: 48px;
  padding: 4px;
  border-radius: 24px;
  background-color: var(--color-gray-150);
  
}

.avatar, .avatarPlaceholder {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.avatarPlaceholder{
  background-color: #7A7A7A;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--body-small-platform);
  color: var(--color-gray-50);
  
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.name {
  font: var(--meta-title-interface);
  color: var(--color-gray-900);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.role {
  /* Странный шрифт */
  font-size: 10px;
  font-weight: 400;
  font-family: var(--font-ALS);
  color: var(--color-gray-900);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}